.logo {
    margin: 1.5%;
    cursor: pointer;
}

header {
    background-color: rgb(166, 201, 233);
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    height: 70px;
    left: 100px;
    top: 0px;
    right: 150px;

}

.iconInHeader {
    display: flex;
    margin: 10px;
    position: absolute;
    left: 40%;
    right: 40%;
    top: 22px;
    gap: 30px;
    font-size: xx-large;
}

.fa-solid {
    margin: 5px;
}

#menuIcon {
    position: absolute;
    right: 3%;
    top: 2%;
    font-size: xx-large;
    cursor: pointer;

}

.fa-solid:hover {
    color: rgb(52, 52, 192);
}

h4 {
    color: rgb(77, 122, 160);
}

u:hover {
    color: rgb(7, 73, 132);
    cursor: pointer;
}

.maindiv {
    background-color: aliceblue;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    margin: 150px;

    /* flex-wrap: wrap; */

    /* flex wrap garda vertically dekhauxa, narakhda crop vayera aauxa */

}

.FirstImage {
    height: 500px;
    width: 570px;
}

.firstPageText {
    text-align: center;

}

button {
    color: white;
    background-color: rgb(34, 16, 16);
    height: 50px;
    width: 150px;
    border-radius: 17px;
    border: none;
}

button:hover {
    background-color: yellow;
    color: black;
    cursor: pointer;
}



/* Second Page CSS */
.SecondPage {
    background-color: rgb(18, 34, 47);
    color: white;
    text-align: center;


}



/* element vanda class use gareko ramro margin ko laagi */
h1 {
    margin-left: 17%;
    margin-right: 17%;
}

h5 {
    margin-left: 15%;
    margin-right: 15%;
}

.SecondPageBox {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    justify-content: center;
    padding: 50px;

}




.firstbox,
.secondbox,
.thirdbox {
    border: 0.75px solid white;
    border-radius: 10px;
    height: 350px;
    width: 400px;
    margin: 17px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}


#boxicons {
    font-size: xx-large;
}




/* ThirdPage */


.thirdPage {
    margin: 10%;
    font-size: large;
    letter-spacing: 1.5px;
}

.contactexpert {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.LeadingTheWay {
    display: flex;

}

p {
    cursor: text;
}

ul {
    color: rgb(124, 124, 124);
}


.building {
    cursor: pointer;
}

li {
    list-style-type: disc;
}


.fourthPageMain {
    background-color: black;
    background-image: url(https://imgs.search.brave.com/IA-a4lUg47kM0FW6vtr7Lz_eIaEWKTc1EHlAv1FFPVg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9idXJz/dC5zaG9waWZ5Y2Ru/LmNvbS9waG90b3Mv/YS1kcm9wLW9mLXBp/bmstYW5kLXllbGxv/dy1wYWludC1pbi13/YXRlci5qcGc_d2lk/dGg9MTAwMCZmb3Jt/YXQ9cGpwZyZleGlm/PTAmaXB0Yz0w);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


}




.Page-Four-div1,
.Page-Four-div4 {
    background-color: white;
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    margin: 15px;
    border-radius: 5px;
    padding: 25px;
    left: 30%;


}

.Page-Four-div2,
.Page-Four-div3 {
    background-color: rgb(41, 38, 38);
    height: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 5px;
    margin: 15px;
    padding: 25px;
    left: 30%;
}

.page4boxmain-div {
    margin-right: 100px;
    margin-left: 200px;
    margin-top: 40px;
}


.boxRow {
    display: flex;
    flex-wrap: wrap;
}


/* page 5 CSS */

.page5LeftSideup,
.page5LeftSidedown {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px;
    margin-left: 190px;
    margin-right: 1px;
}


.page5LeftSidedown {
    text-align: center;
    height: 350px;
    width: 400px;
    background-color: rgb(34, 16, 16);
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.page5LeftSidedown {
    margin-top: 60px
}


.page5Button {
    position: relative;
    margin-top: 25px;
}

.building-cartoon-image {
    /* background-image: url("//images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/78deac0247445a6f8caf3f8a/jhjhjh6.jpg"); */
    height: 500px;
    width: 500px;
    border-radius: 12px;
    margin-right: 10px;
}

.Page5-MainDiv {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: center;

}

.page5text {
    text-align: left;
    margin-left: 7px;
    width: 400px;
}

.right-side {
    margin-left: 30px;
}


/* sixth page CSS */


.page-six{
    background-color: rgb(41, 38, 38);
    color: white;
    padding: 290px;
    padding-top: 50px;
    padding-bottom: 50px;

}

.sixthPage-MainDiv{
    display: flex;
    flex-wrap: wrap;
}

.sixthPage-rightside{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.page6Box{
    text-align: center;
    border: 1px solid rgb(182, 152, 152);
    margin: 19px;
    border-radius: 10px;
  height: 250px;
  width: 300px;
  padding: 15px;

}


/* Page 7 CSS */


.page7maindiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgb(33, 23, 23);
    background-image: url(https://c4.wallpaperflare.com/wallpaper/168/815/785/computer-the-room-hacker-the-world-at-night-wallpaper-preview.jpg);
    
}

.page7Box{
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.page7BoxContents{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 25px;
    background-color: white;
    height: 350px;
    width: 300px;
    margin: 25px;
}


.page7BoxImage{
    border-radius: 50%;
    height:200px;
    width: 200px;
}


/* page 8 CSS */
hr{
    height: 350px;
    background-color: blueviolet;
    margin-top: 0%;
    margin-bottom: 0%;
}

.page8Image{
    border-radius: 50%;
    height: 550px;
    width: 600px;
    position: relative;
    left: 600px;
    bottom: 300px;
}

.page-8-After-Image{
    position: relative;
    bottom: 550px;
}

.page-8-heading{
    text-align: center;
}

.page8-Box-Part{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    height: 500px;
    width: 300px;
    position: relative;
    left: 400px;
    bottom: 670px;
}


.page-8-counts-MainDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.page-8-circle-Main-div{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page-8-counts{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: yellow;
    margin: 55px;
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
}






/* footer CSS */
footer {
    color: white;
    text-align: center;
    background-color: gray;
    height: 50px;
    padding: 25px;
}
